* {
    --pageBackgroundColor: #00053c;
    --pageTextColor: white;

    /* control record notification on scoreboard and attempt board.
       Set to 10 to show notifications, set to -10 if notifications not wanted */
    --zIndexRecordNotifications: -10;

    /* current attempt section */
    --startNumberBoxColor: red;
    --breakTimerColor: #00ff00;
    --athleteTimerColor: yellow;
    --athleteAttemptWeightColor: #ff9900;
    --downColor: lime;

    --athleteNameColor: lime;
    --athleteCategoryColor: red;
    --athleteTeamColor: #ffff00;
    --athleteAttemptColor: #00ffff;

    --groupInfoColor: white;

    /* results table section, "black on white", cell have a full background different from page background */

    --lightTableBorders: grey;
    --lightTextColor: black;
    --lightBackgroundColor: #062f00;

    --lightTitleTextColor: black;
    --lightTitleBackgroundColor: white;

    --lightCurrentTextColor:
    var(
    --lightTextColor);
    --lightCurrentBackgroundColor: #00ff43;

    --lightNextTextColor:
    var(
    --lightTextColor);
    --lightNextBackgroundColor: gold;

    --lightRequestTextColor:
    var(
    --lightTextColor);
    --lightRequestBackgroundColor:
    var(
    --lightBackgroundColor);

    --lightStartBackgroundColor:
    var(
    --lightBackgroundColor);
    --lightStartTextColor:
    var(
    --lightTextColor);

    --lightNameBackgroundColor:
    var(
    --lightBackgroundColor);
    --lightNameTextColor:
    var(
    --lightTextColor);

    --lightCategoryTextColor:
    var(
    --lightTextColor);
    --lightCategoryBackgroundColor:
    var(
    --lightBackgroundColor);

    --lightBirthTextColor:
    var(
    --lightTextColor);
    --lightBirthBackgroundColor:
    var(
    --lightBackgroundColor);

    --lightTeamTextColor:
    var(
    --lightTextColor);
    --lightTeamBackgroundColor:
    var(
    --lightBackgroundColor);

    --lightGoodTextColor: white;
    --lightGoodBackgroundColor: green;

    --lightFailTextColor: white;
    --lightFailBackgroundColor: #8b0000;

    --lightRankTextColor:
    var(
    --lightTextColor);
    --lightRankBackgroundColor: #F9E79F;

    --lightTotalRankTextColor:
    var(
    --lightTextColor);
    --lightTotalRankBackgroundColor:
    var(
    --lightRankBackgroundColor);

    --lightTotalTextColor:
    var(
    --lightGoodTextColor);
    --lightTotalBackgroundColor: blue;

    --lightSpacerBackgroundColor:
    var(
    --lightTableBorders);
    --lightEmptyTextColor: #cccccc;
    --lightEmptyBackgroundColor: #cccccc;

    /* results table section, "white on black", most cells have same dark background as page */

    --darkTableBorders:
    var(
    --pageTextColor);
    --darkTextColor:
    var(
    --pageTextColor);
    --darkBackgroundColor: #00053c;

    --darkTitleTextColor: #ffffff;
    --darkTitleBackgroundColor: #7b0000;

    --darkCurrentTextColor: #000000;
    --darkCurrentBackgroundColor: #00ff5e;

    --darkNextTextColor: black;
    --darkNextBackgroundColor: #ffff00;

    --darkRequestTextColor: yellow;
    --darkRequestBackgroundColor: #000000;

    --darkStartBackgroundColor: #393838;
    --darkStartTextColor: white;

    --darkNameBackgroundColor: black;
    --darkNameTextColor: #00e2ff;

    --darkCategoryTextColor: #ffdb00;
    --darkCategoryBackgroundColor: #00044f;

    --darkBirthTextColor: #ffffff;
    --darkBirthBackgroundColor: #46006f;

    --darkTeamTextColor: #ffffff;
    --darkTeamBackgroundColor: #002c34;

    --darkGoodTextColor: white;
    --darkGoodBackgroundColor: #0041a5;

    --darkFailTextColor: white;
    --darkFailBackgroundColor: #f60000;

    --darkRankTextColor: #ffffff;
    --darkRankBackgroundColor: #393838;

    --darkTotalRankTextColor: #ffffff;
    --darkTotalRankBackgroundColor: #ffb300;

    --darkTotalTextColor: white;
    --darkTotalBackgroundColor: #004249;

    --darkSpacerBackgroundColor:
    var(
    --darkBackgroundColor);
    --darkEmptyTextColor: #4d4d4d;
    --darkEmptyBackgroundColor: #000b48;

    /* records table section, white on black */
    --lightRecordBoxBorder:
    var(
    --pageTextColor);
    --lightRecordBoxBackground:
    var(
    --pageBackgroundColor);
    --lightRecordBoxText:
    var(
    --pageTextColor);

    --lightRecordValueText:
    var(
    --pageTextColor);
    --lightRecordValueBackground:
    var(
    --pageBackgroundColor);
    --lightRecordCellBorderColor:
    var(
    --pageTextColor);

    --lightRecordNameBackground:
    var(
    --pageBackgroundColor);
    --lightRecordNameText:
    var(
    --pageTextColor);

    --lightRecordLiftTypeBackground:
    var(
    --pageBackgroundColor);
    --lightRecordLiftTypeText:
    var(
    --pageTextColor);
    --lightRecordLiftTypeBorder:
    var(
    --pageTextColor);

    --lightRecordHighlightBackground: green;
    --lightRecordHighlightText: white;
    --lightAttemptHighlightText: white;
    --lightAttemptHighlightBackground: purple;

    /* records table section, black on white */
    /* by default, same as white on black */

    --darkRecordBoxBorder:
    var(
    --pageTextColor);
    --darkRecordBoxBackground:
    var(
    --pageBackgroundColor);
    --darkRecordBoxText:
    var(
    --pageTextColor);

    --darkRecordValueText:
    var(
    --pageTextColor);
    --darkRecordValueBackground:
    var(
    --pageBackgroundColor);
    --darkRecordCellBorderColor:
    var(
    --pageTextColor);

    --darkRecordNameBackground:
    var(
    --pageBackgroundColor);
    --darkRecordNameText: #17ff00;

    --darkRecordLiftTypeBackground: #00053c;
    --darkRecordLiftTypeText: #ff8f00;
    --darkRecordLiftTypeBorder: #ffff00;

    --darkRecordHighlightBackground: #fffc00;
    --darkRecordHighlightText: #000000;
    --darkAttemptHighlightText: red;
    --darkAttemptHighlightBackground: #fffc00;
}